<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Sign In</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/adminApproval.css') }}">
  </head>
  <body class="container-fluid">
    <div class="page-header row head">
      <h1>Avoidance of duplication of beneficiaries - <br><center><b>Validator</b></center></h1>
      <form action="\validatorlogout">
            <button class="btn btn-danger pull-right logout">Logout</button>    
      </form>
    </div>
    <br><br>

    <form action="/checkValid" method="post">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">UID</th>
              <th scope="col">Scheme Applied</th>
              <th scope="col">Mobile Number</th>
              <th scope="col">Valid</th>
              <th scope="col">Invalid</th>
            </tr>
          </thead>
          <tbody>
            {% if results %}
            {% for item in results %}
            <tr>
              <td scope="col">{{ item[0] }}</td>
              <td scope="col">{{ item[1] }}</td>
              <td scope="col">{{ item[11] }}</td>
              <td scope="col">{{ item[10] }}</td>
              <td scope="col"><input type="radio" name="{{ item[0] }}" value="Valid"></td>
              <td scope="col"><input type="radio" name="{{ item[0] }}" value="Invalid"></td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <br><br>
    <div class="row">
      <center>
        <input type="submit" class="btn btn-primary submit" value="Submit"></button>
      </center>
    </div>
    </form>
  </body>
</html>