<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
	<title>Avoidance of duplication of beneficiaries - ID Selection</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/card.css') }}">
</head>
<body class="container-fluid">
	<div class="page-header row head">
        <h1>Avoidance of duplication of beneficiaries</h1>
        <form action="\logout">
            <button class="btn btn-danger pull-right logout">Logout</button>    
        </form>
     </div>
     <div class="row">
     	<div class="col-sm-4">
     		<img src="/static/img/GujaratEmblem.png">
     	</div>
     	<div class="col-sm-3">
     		<form action="" method="POST" class="form-signin">
			<h1 class="h3 mb-3 font-weight-normal">Please select the mode of identification</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    <label class="btn">
                        <input type="radio" name="id-type" value="aadhar-card" />
                    </label>
                    Aadhar Card
                </div>
                <div class="panel-heading">
                    <label class="btn">
                        <input type="radio" name="id-type" value="pan-card" />
                    </label>
                    Pan Card
                </div>
                <div class="panel-body">
                    <label class="btn">
                        <input type="radio" name="id-type" value="ration-card" />
                    </label>
                    Ration Card
                </div>
            </div>
			<button type="submit" class="btn btn-primary btn-lg btn-block">Next</button>
		</form>
     	</div>
     	<div class="col-sm-4">
     		<img src="/static/img/GujaratMap.png">
     	</div>
     </div>
</body>
</html>