<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <title>Avoidance of duplication of beneficiaries - Aadhar Details</title>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/complete.css') }}">
</head>
<body class="container-fluid">
	<div class="page-header row head">
     	<h1><b>Government of Gujarat </b>- Avoidance of duplication of beneficiaries</h1>
     </div>
	<form id="input-form" action="/getfile" method="POST" enctype="multipart/form-data" class="form-horizontal form-signin">
		<div class="row">
		<div class="col-sm-3">
            <img src="/static/img/GujaratEmblem.png">
        </div>
        <div class="col-sm-9">
        	<div class="row">
        		<div class="col-sm-5"></div>
        		<div class="col-sm-4">
        			<h1 class="h3 mb-2 font-weight-normal"><b>Your Personal Details</b></h1>
        		</div>
        		<div class="col-sm-3"></div>
        	</div>
        	<div class="row">
        		<div class="col-sm-6">
        			<div class="form-group">
						<label class="control-label col-sm-5">UID : </label>
						<div class="col-sm-7">
							<input type="text" name="uid" value="{{data['uid']}}" {{vis}} class="form-control">
						</div>
					</div>
        		</div>
        		<div class="col-sm-6">
        			<div class="form-group">
						<label class="control-label col-sm-5">Village/Town/City : </label>
						<div class="col-sm-7">
							<input type="text" name="vtc" value="{{data['vtc']}}" {{vis}} class="form-control">
						</div>
					</div>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-sm-6">
        			<div class="form-group">
						<label class="control-label col-sm-5">Name : </label>
						<div class="col-sm-7">
							<input type="text" name="name" value="{{data['name']}}" {{vis}} class="form-control">
						</div>
					</div>
        		</div>
        		<div class="col-sm-6">
        			<div class="form-group">
						<label class="control-label col-sm-5">Post Office Name : </label>
						<div class="col-sm-7">
							<input type="text" name="po" value="{{data['po']}}" {{vis}} class="form-control">
						</div>
					</div>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-sm-6">
        			<div class="form-group">
						<label class="control-label col-sm-5">Gender: </label>
						<div class="col-sm-7">
							<input type="text" name="gender" value="{{data['gender']}}" {{vis}} class="form-control">
						</div>
					</div>
        		</div>
        		<div class="col-sm-6">
        			<div class="form-group">
						<label class="control-label col-sm-5">District : </label>
						<div class="col-sm-7">
							<input type="text" name="dist" value="{{data['dist']}}" {{vis}} class="form-control">
						</div>
					</div>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-sm-6">
        			<div class="form-group">
						<label class="control-label col-sm-5">Year of Birth :</label>
						<div class="col-sm-7">
							<input type="text" name="yob" value="{{data['yob']}}" {{vis}} class="form-control">
						</div>
					</div>
        		</div>
        		<div class="col-sm-6">
        			<div class="form-group">
						<label class="control-label col-sm-5">State : </label>
						<div class="col-sm-7">
							 <input type="text" name="state" value="{{data['state']}}" {{vis}} class="form-control">
						</div>
					</div>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-sm-6">
        			<div class="form-group">
						<label class="control-label col-sm-5">Care of : </label>
						<div class="col-sm-7">
							<input type="text" name="co" value="{{data['co']}}" {{vis}} class="form-control">
						</div>
					</div> 

        		</div>
        		<div class="col-sm-6">
        			<div class="form-group">
						<label class="control-label col-sm-5">Pincode : </label>
						<div class="col-sm-7">
							<input type="text" name="pc" value="{{data['pc']}}" {{vis}} class="form-control">
						</div>
					</div>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-sm-6">
        			<div class="form-group">
						<label class="control-label col-sm-5">House : </label>
						<div class="col-sm-7">
							<input type="text" name="lm" value="{{data['lm']}}" {{vis}} class="form-control">
						</div>
					</div>        			
        		</div>
        		<div class="col-sm-6">
        			<div class="form-group">
						<label class="control-label col-sm-5">Annual Income : </label>
						<div class="col-sm-7">
							<input type="text" name="inc" value="" type="number" placeholder="Enter your income" required  class="form-control">
						</div>
					</div>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-sm-6">
        			<div class="form-group">
						<label class="control-label col-sm-5">Landmark : </label>
						<div class="col-sm-7">
							<input type="text" name="loc" value="{{data['loc']}}" {{vis}} class="form-control">
						</div>
					</div>
        		</div>
        		<div class="col-sm-6">
        			<div class="form-group">
						<label class="control-label col-sm-5">Phone Number : </label>
						<div class="col-sm-7">
							<input type="text" name="mobile" value="" type="number" placeholder="Enter your phone number" required class="form-control">
						</div>
					</div>
        		</div>
        	</div>
        	<br>
        	<div class="row">
        		<div class="col-sm-3"></div>
        		<div class="col-sm-6">
        			<input type="submit" class="btn btn-primary btn-block btn-lg">
        		</div>
        		<div class="col-sm-3"></div>
        	</div>
        </div> 
	</form>
</body>
</html>