<!DOCTYPE html>
<html>
<head>
    <title>Avoidance of duplication of beneficiaries - Select your Scheme</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <title>Avoidance of duplication of beneficiaries - Aadhar Details</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/scheme.css') }}">
    <script>

        $(document).ready(function(){
            $.ajax({
                type : 'GET',
                url : '/get_scheme',
                dataType: "json",
                success: function (response) {
                    var arr = response.data;
                    $('#scheme').append($('<option>').text("").attr('value',"")); 
                    for(i in arr)
                    { 
                        $('#scheme').append($('<option>').text(arr[i]).attr('value', arr[i]));        
                    }

                },
                error: function (result) {
                alert("Error");
                }
            });

            $('select').on('change', function() {
                    var element = this.value;
                    $.ajax({
                        type : 'GET',
                        url : '/get_desc',
                        dataType : "json",
                        data: {'name':element},
                        success : function(response) {
                            $('#scheme-name').html(element);
                            $('#scheme-elig-header').html("Eligibility Criteria");
                            var arr1 = response.desc;
                            $('#scheme-desc').html(arr1);
                            var arr2 = response.elig;
                            $('#scheme-elig').html(arr2);
                        } ,
                        error: function(error){
                            alert("Error");
                        }
                    });
            })
        });
        
    </script>
<body class="container-fluid">
    <div class="page-header row head">
        <h1>Avoidance of duplication of beneficiaries</h1>
        <form action="\logout">
            <button class="btn btn-danger pull-right logout">Logout</button>    
        </form>
     </div>
     
     <div class="row">
        <div class="col-sm-3">
            <img src="/static/img/GujaratEmblem.png">
        </div>
        <center><h3 style="color:red;">{{error}}</h3></center>
        <div class="col-sm-4">
            <form id="scheme-form" class="form-signin" action="{{ url_for('card') }}">
                <h1 class="h3 mb-3 font-weight-normal">Please select your scheme</h1>
                <select id="scheme" class="form-control">
                </select>
                <br><br><br><br><br><br>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Next</button>
            </form>
        </div>
        <div class="col-sm-4">
            <div class="desc">
                <center>
                    <h1  class="h3 mb-3 font-weight-normal">Scheme Description</h1>
                </center>
                <hr>
                <div class="divdesc">
                    <center>
                        <h1 id="scheme-name" class="h3 mb-3 font-weight-normal"></h1>
                    </center>
                    <div id="scheme-desc" ></div>
                    <center>
                        <h1 id="scheme-elig-header" class="h3 mb-3 font-weight-normal"></h1>
                    </center>
                    <div id="scheme-elig"></div>
                </div>
                
            </div>
            
        </div>
        
     </div>
</body>
</html>