.approve-btn-box {
  text-align: center;
  margin: 40px 0 0;
}

.my-content {
  width: 100%;
  max-width: 600px;
  margin: 30px auto 0;
}

.signout-btn-box {
  position: relative;
  top: 25px;
  right: 25px;
  text-align: right;
}

.my-container {
  max-width: 1000px;
  margin: 25px auto;
}

.desc {
  border-radius: 8px;
  border: 1px solid #D3D3D3;
  padding: 10px;
  height: 450px;
}

.divdesc {
  overflow-y: scroll;
  height: 330px;
}