.head
{
  display: flex;
  justify-content: center;
}
body
{
    font-family: 'Cinzel', serif;
  background-color: #f5f5f5;
}
	
img
{
  height: 475px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.desc
{
	border-radius: 8px;
	border: 1px solid #D3D3D3;
	padding: 10px;
	margin: 10px;
	height: 450px;
	background-color: white;
}

.divdesc
{
  overflow-y: scroll;
  height: 300px;
}